* {
  box-sizing: border-box;
}

body {
  background-color: royalblue;
}

.sliders {
  width: 600px;
  margin: 0 auto;
}

.slides {
  width: 100%;
  height: 500px;
  border: 1px solid coral;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  background-color: coral;
  border: 3px solid white;
  transition: transform 0.2s ease;
}

.controls {
  display: flex;
  justify-content: center;
}

.controls button {
  padding: 0.5rem 3rem;
  margin: 1rem;
  background-color: #ff6961;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 2rem;
}

.slide.current {
  display: flex;
  transform: translateX(0);
}

.slide.next {
  display: flex;
  transform: translateX(100%);
}

.slide.prev {
  display: flex;
  transform: translateX(-100%);
}
