* {
  box-sizing: border-box;
}

.modal_outer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_inner {
  width: 550px;
  height: 460px;
  display: flex;
  align-items: stretch;
}

.modal_inner > * {
  flex: 1;
}

.modal_inner__image {
}

.modal_inner__image img {
  height: 100%;
  width: 100%;
}

.modal_inner__text {
  background-color: #fff;
  position: relative;
  text-align: center;
}

.modal_inner__close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.modal_inner__text h5 {
  text-align: center;
  font-size: 1.5rem;
}

.modal_inner__text p {
  color: grey;
  padding: 0 1rem;
  text-align: center;
}

#email {
  display: block;
  width: 80%;
  margin: 0 auto;
}

form button {
  display: block;
  width: 50%;
  margin: 1rem auto;
}

.modal_inner__no {
  text-align: center;
  color: black;
  text-decoration: none;
}

.hide {
  display: none;
}
