.slider {
  height: 400px;
  overflow: hidden;
  width: 700px;
  height: 400px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}

.slide {
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.current {
  display: flex;
}

.prev {
  display: flex;
  transform: translateX(-100%);
}

.next {
  display: flex;
  transform: translateX(100%);
}

.fas {
  color: grey;
}

.left_arrow {
  position: absolute;
  top: 50%;
}
.right_arrow {
  position: absolute;
  top: 50%;
  right: 0;
}
.down_arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
}
