body {
  margin: 0;
  --primary: slateblue;
  --primary-contrast: white;
  --text: black;
  --bg: white;
  color: var(--text);
  background-color: var(--bg);
}

body.dark_theme {
  --bg: black;
  --text: white;
  --primary: rgb(22, 22, 22);
  --primary-contrast: white;
}

h3 {
  margin: 0;
}

nav {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  color: var(--primary-contrast);
  height: 3rem;
  align-items: center;
  padding: 0 3rem;
}

main {
  padding: 3rem;
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}
